<script src="scripts/data.js"></script>
<script src="scripts/helpers.js"></script>
<link rel="icon" type="image/png" href="logo.png" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<title>Easy Query</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a><img src="logo.png" height="30px" alt="" style="margin-right: 10px;"></a>
    <a class="navbar-brand" href="#">Easy Query</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<body style="background: rgb(228, 221, 221)">

        <div style="width: 31%; float:left; margin-left: 20px; margin-top: 20px; padding-left: 20px;
                    padding-top: 20px; border-radius: 10px; background-color:rgb(177, 223, 223); overflow: auto;">
            <form>
                <div class="form-group" id="clients_group">
                <label><h5>Cliente</h5></label><br>
                <div id='clients'></div>
                </div>
                <div class="form-group" style="display: block;" id="row_ambientes">
                    <label><h5>Configuracion</h5></label><br>
                    <div id='ambientes'></div>
                    <div><input class='form-control' type="text" id="newenv" onchange="Helper.Environments.Events.OnChange()" style="width: 90%; text-align: center; margin-bottom: 10px; display: none;"></div>
                    <button type="button" id="btn_new_env" class="btn btn-dark btn-sm" style="margin-top: 10px;" onclick="Helper.Environments.Events.OnClickNewEnvironment()" >+</button>
                    <button type="button" id="btn_existing_env" class="btn btn-dark btn-sm" style="display: none" onclick="Helper.Environments.Events.OnClickExisting()" >-</button>
                </div>
                <div class="form-group">
                    <label><h5>Tabla</h5></label><br>
                    <div id='tables'></div>
                    <div><input class='form-control' type="text" id="newtable" style="width: 90%; text-align: center; margin-bottom: 10px; display: none;" onchange="Helper.Tables.Events.NewTable.OnChange()"></div>
                    <button type="button" id="btn_new" class="btn btn-dark btn-sm" style="margin-top: 10px;" onclick="Helper.Tables.Events.OnClickNewTable()" >+</button>
                    <button type="button" id="btn_existing" class="btn btn-dark btn-sm" style="display: none" onclick="Helper.Tables.Events.OnClickExisting()" >-</button>
                </div>                
                
            </form>
        </div>
        <div style="width: 31%; float:left; margin-left: 20px; margin-top: 20px; padding-left: 20px; padding-top: 20px;
                    border-radius: 10px; background-color:rgb(177, 223, 223); overflow-x:auto">
            <div class="form-group">
                <label><h5>Campos</h5></label><br>
                <div style="margin-bottom: 15px;">
                    <table id="fields_rows" style="text-align: center;">
                    </table>
                </div>
                <button type="button" class="btn btn-dark" onclick="Helper.Fields.AddFieldRow()" >+</button>
                <button type="button" class="btn btn-info" onclick="Helper.Fields.Clear()">Reset</button>
            </div>
        </div>
        <div style="width: 31%; float:left; margin-left: 20px; margin-top: 20px; padding-left: 20px; padding-top: 20px;
                    border-radius: 10px; background-color:rgb(177, 223, 223); overflow-x:auto">
            <div class="form-group">
                <label><h5>Filtros</h5></label>
                <div style="margin-bottom: 15px;">
                    <table id="filters_rows" style="text-align: center;">
                        
                    </table>
                </div>
                <button type="button" class="btn btn-dark" onclick="Helper.Filters.AddFilterRow()" >+</button>
                <button type="button" class="btn btn-info" onclick="Helper.Filters.Clear()">Reset</button>
            </div>
            <div class="form-group">
                <label><h5>Filtros Combinados</h5></label>
                <div><input class='form-control' type="text" id="combined_filters" placeholder="Ej: (1 y 2) o (3 y 4) y no 5" style="width: 90%; text-align: center; margin-bottom: 10px;"></div>
            </div>
            <div class="form-group">
                <label><h5>Acciones</h5></label><br>
                <button type="button" style="width: 200px;" class="btn btn-success" onclick="Helper.URL.Generate()">Consultar</button><br>
            </div>
        </div>
        <div style="width: 95%; float:left; margin-left: 20px; margin-top: 20px; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 50px;
                    border-radius: 10px; background-color:rgb(177, 223, 223); overflow-x:auto">
            <div id="tables_result" style="overflow: auto; margin-bottom: 20px;"></div>
            <label><h5><b>Procesador de JSON</b></h5></label><br>
            <textarea class='form-control' style="width: 90%; float: left" id="jsonprocessor" placeholder="Insert JSON here"></textarea>
            <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px;"></div>
                <button type="button" class="btn btn-success" onclick="Helper.JSONProcessor.Events.OnAdd()">Agregar</button>
                <button type="button" class="btn btn-dark" onclick="Helper.JSONProcessor.Events.OnClean()">Limpiar</button>
            </div>
        </div>
</body>
<script>

    // Clients menu
    var clientsMenu = "";
    clientsMenu += "<select class='form-control' id ='clients_menu' onchange='Helper.Clients.Events.OnChange(this)' style='width: 90%'>";
    clientsMenu += "<option></option>";
    for(var i = 0; i < clients.length; i++)
    {
        clientsMenu += "<option value='" + clients.name + "'>" + clients[i].name + "</option>"
    }
    clientsMenu += "</select>";
    document.getElementById("clients").innerHTML = clientsMenu;
    
    // Environment menu
    var envMenu = "";
    envMenu += "<select class='form-control' id ='env_menu' style='width: 90%'>";
    envMenu += "<option></option>";
    envMenu += "</select>";
    document.getElementById("ambientes").innerHTML = envMenu;
    
    // Tables menu
    var tableMenu = "";
    tableMenu += "<select class='form-control' id='table_menu' onchange='Helper.Tables.Events.OnChange(this)' style='width: 90%'>";
    for(var i = 0; i < tables.length; i++)
    {
        tableMenu += "<option value='" + tables[i].name + "'>" + tables[i].name + " - " + tables[i].description + "</option>"
    }
    tableMenu += "</select>";
    document.getElementById("tables").innerHTML = tableMenu;
    
    // Filters
    Helper.Filters.Initialize(0);

    // Fields
    Helper.Fields.Initialize(0);

    document.getElementById("clients_menu").focus();

</script>